@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+ES+Deco:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 2rem;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  padding: 0 1rem;
}

/* Display arrangement */

nav,
header,
.todo-card-heading,
.todo-btn-conatiner,
.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todos-container {
  row-gap: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

/* Fonts */

.roboto-light {
  font-weight: 300;
}

.roboto-medium {
  font-weight: 500;
}

/* Navigation */

nav {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

ul {
  list-style-type: none;
}

ul li {
  display: inline-block;
  margin: 0 0.3rem;
  padding: 0.6rem;
  cursor: pointer;
}

/* Main */

main {
  width: 100%;
}

.main-section-header {
  margin-bottom: 2rem;
}

.btn {
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  column-gap: 0.3rem;
}

.primary-btn {
  background-color: black;
  padding: 0.8rem 1.6rem;
}

.primary-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Todos */

.todo-category-container {
  width: 100%;
}

.todo-category-container,
.todo-category-container > header {
  border: 1px solid #cccccc7e;
  padding: 0.5rem;
  border-radius: 4px;
}

.todo-category-container > header {
  margin-bottom: 1rem;
}

.task-category-counter {
  padding: 0.3rem 0.6rem;
  background-color: #cccccc47;
  border-radius: 4px;
}

/* Todos -> Todo cards */

.todo-card {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1rem 0.5rem;
  margin-bottom: 0.5rem;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.todo-card.remove {
  transform: scale(0);
  opacity: (0);
}

.todo-card-heading {
  max-width: 100%;
  margin-bottom: 1rem;
}

.todo-card-heading > h3,
.todo-description {
  width: 100%;
  word-wrap: break-word;
}

.todo-btn-conatiner {
  column-gap: 0.3rem;
}

.todo-description {
  font-size: 0.9rem;
}

/* Modal */

.icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  background-color: transparent;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  padding: 0 1rem;
}

.modal-container {
  z-index: 1001;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: auto;
  background-color: white;
  padding: 1rem;
  border-radius: 4px;
}

.secondary-btn {
  background-color: transparent;
  color: black;
  padding: 0.8rem 1.6rem;
}

.modal-overlay.show-modal {
  visibility: visible;
  opacity: 1;
  transition: all 0.15s ease-in-out;
}

/* Modal -> Form */

form {
  max-width: 100%;
}

.modal-form > div {
  margin: 2rem 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-group label {
  margin-bottom: 0.5rem;
}

.form-group input[type="text"],
select {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.radio-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.radio-label {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 0.6rem;
  border-radius: 4px;
  cursor: pointer;
}

.radio-label input[type="radio"] {
  margin-right: 0.5rem;
  cursor: pointer;
}

.modal-btn-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Modal -> change category */

@media only screen and (min-width: 600px) {
  body {
    padding: 0 2rem;
  }

  .modal-overlay {
    padding: 1rem 2rem;
  }
}

@media only screen and (min-width: 768px) {
  body {
    padding: 0 2rem;
  }

  .todos-container {
    flex: 2 1 auto;
    flex-direction: row;
    column-gap: 1rem;
  }

  .todos-overlay {
    align-items: center;
    flex-direction: row;
    column-gap: 2rem;
  }

  .modal-overlay {
    padding: 1rem 2rem;
  }

  .radio-group {
    flex-direction: row;
    gap: 0.5rem;
  }

  .radio-label {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media only screen and (min-width: 992px) {
  body {
    padding: 0 4rem;
  }

  .modal-overlay {
    padding: 1rem 4rem;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    padding: 0 5%;
  }

  .modal-overlay {
    padding: 1rem 20%;
  }
}

@media only screen and (min-width: 1400px) {
  body {
    padding: 0 15%;
  }

  .modal-overlay {
    padding: 1rem 30%;
  }
}
